<a href="https://colab.research.google.com/github/andhinirs/CRUD-Bioskop/blob/main/A1_2109116005_Posttest1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Posttest Praktikum Sistem Informasi </h1>

NIM **2109116005**

NAMA **Andhini Rahmitasari**

## Business Understanding & Data Understanding

In [ ]:
# Import library yang diperlukan
import pandas as pd
import seaborn as sns
import plotly.express as px

In [ ]:
# Menaruh dataset dalam sebuah variabel df
df = pd.read_csv("ChurnBank.csv")

In [ ]:
# Menampilkan hasil df
df

### Business Understanding

- **Tujuan Penggunaan Dataset**

Dengan dataset yang ada bertujuan untuk dapat menghitung lalu diklasifikasikan data dari nasabah agar bisa menentukan prediksi yang tepat dengan menggunakan algoritma Naive Bayes.

- **Tujuan Perusahaan**

Studi kasus nya terdapat pada perusahaan yang bergerak dalam bidang keuangan yaitu sebuah perbankan yang memiliki tujuan dalam menentukan nasabah mana yang tepat untuk dapat ditawarkan deposito (simpanan yang pencairannya hanya dapat dilakukan pada jangka waktu tertentu).


- **Tujuan Penggunaan Naive Bayes**

Tujuan dari penggunaan algoritma naive bayes dalam perusahaan adalah untuk mengklasifikasikan dataset yang ada lalu memprediksi data nasabah dengan tepat. Dengan menggunakan naive bayes hasil prediksi yang didapatkan akan lebih akurat sehingga perusahaan mampu menawarkan deposito pada nasabah dengan tepat sasaran. Naive bayes mampu mengelola dataset untuk membantu perusahaan dalam mengambil keputusan yang tepat dimasa yang akan datang.

### Data Understanding

In [ ]:
# Melakukan filter terhadap dataset dengan beberapa variabel

df1 = df[df["Attrition_Flag"] == "Attrited Customer"]
df2 = df[df["Attrition_Flag"] != "Attrited Customer"]
df3 = df[df["Customer_Age"] < 50]
df4 = df[df["Marital_Status"] == "Single"]

In [ ]:
# Memanggil dataset dengan variabel df1
df1

In [ ]:
# Memanggil dataset dengan variabel df2
df2

In [ ]:
# Memanggil dataset dengan variabel df3
df3

In [ ]:
# Memanggil dataset dengan variabel df4
df4

In [ ]:
# Menampilkan info dataset 
(df.info())

**info()** adalah perintah yang digunakan untuk memberikan informasi mengenai nomor index dan tipe data dari dataset yang kita miliki. 

pada hasil diatas ditunjukkan bahwa dataset dengan nama variabel df memilki informasi berupa :
- Range index dengan total masukkan 20 dari 0-19.
- Ada total 10 kolom pada data.
- 1 kolom bertipe data (float64), 3 kolom memiliki tipe data (int64), dan 6 kolom bertipe data (object).
- Pada seluruh kolom memilki 20 data non-null.

###Opsional (nilai plus)

In [ ]:
# Membuat dataset baru dengan mengambil dari dataset df hanya kolom bertipe angka
df5= df[['Unnamed: 0', 'CLIENTNUM', 'Customer_Age', 'Credit_Limit']]
df5

In [ ]:
# Menampilkan hasil statistik dari kolom bertipe angka
df5.describe()

In [ ]:
# Menampilkan nilai mean dari kolom bertipe angka
df5.mean()

In [ ]:
# Menampilkan nilai min dari kolom bertipe angka
df5.min()

In [ ]:
# Menampilkan nilai max dari kolom bertipe angka
df5.max()

In [ ]:
# Menampilkan nilai standar deviasi dari kolom yang bertipe angka
df5.std()

#### Explore Data

##### Visualisasi Comparison

In [ ]:
# Menampilkan visualisasi berapa banyak yang attired customer dan tidak 
sns.countplot(data=df,x="Attrition_Flag") #Variabel sns digunakan untuk mengakses fungsi-fungsi yang tersedia di librari seaborn

In [ ]:
# Menampilkan visualisasi berapa banyak Education level berdasarkan kategori-kategorinya 
sns.countplot(data=df, y="Education_Level")

In [ ]:
# Menampilkan visualisasi berapa banyak Education level Education level berdasarkan gendernya
sns.countplot(data=df, y="Education_Level", hue="Gender")


1. Visualisasi comparison ini bertujuan untuk membandingkan jumlah atau banyaknya dalam satu variabel yang data yang sama. Countplot ini digunakan untuk menampilkan jumlah objek dari masing-masing nilai kolom attrition_flag. Didapatkan hasil berupa banyaknya objek yang termasuk attired customer adalah sebanyak 10 objek dan yang bukan attired customer atau existing customer sebanyak 10 objek.

2. Dengan menggunakan visualisasi countplot didapatkan perbandingan banyaknya objek education level berdasarkan kategori di dalamnya.

3. Masih sama menggunakan visualisasi countplot untuk mendapatkan berapa banyak objek dalam education level, lalu dengan sintaks 'hue' untuk dapat menampilkan objek education level berdasarkan gendernya yaitu m untuk male dan f untuk female.

##### Visualisasi Distribution

In [ ]:
# Membuat histogram customer age
sns.histplot(data=df, x="Customer_Age", kde=True)

In [ ]:
# Membuat histogram credit limit
sns.histplot(data=df, x="Credit_Limit", kde=True)

In [ ]:
# Membuat boxplot customer age
sns.boxplot(data=df, x="Customer_Age")

In [ ]:
# Membuat boxplot credit limit
sns.boxplot(data=df, x="Credit_Limit")

1. Histogram merupakan visualisasi grafis distribusi data dalam bentuk batang yang membentang di sepanjang rentang datanya. Untuk menggambar histogram digunakan method histplot() maka akan ditampilkan histogram untuk customer dan credit limit nasabah dengan menggunakan variabel 'hue' yang dipetakan untuk menentukan warna elemen plot.

2. Menggambarkan visualisasi untuk menunjukkan distribusi yang berhubungan dengan kategori. Visualisasi ini dapat digunakan untuk melihat distribusi data, nilai maksimum dan minimum serta nilai kuantil dari data credit limit.

##### Visualisasi Relationship

In [ ]:
# Membuat scatterplot untuk customer Age dan credit card limit
sns.scatterplot(data=df,x="Customer_Age",y="Credit_Limit")

##### Visualisasi Composition

In [ ]:
# Membuat pieplot Income Category 
px.pie(df, names="Income_Category")

In [ ]:
 # Membuat pieplot Education Level
px.pie(df, names="Education_Level")

### Opsional (Nilai Plus)

In [ ]:
# Membuat visualisasi boxplot Credit Card Limit dengan Jenis Kelamin sebagai pemisahnya (color)
sns.boxplot(data=df, x="Credit_Limit", hue="Gender" )

In [ ]:
# Membuat visualisasi boxplot Credit Card Limit dengan Attrition Flag sebagai pemisahnya (color)
sns.boxplot(data=df, x="Credit_Limit", y="Attrition_Flag", hue="Attrition_Flag", color="blue" )

In [ ]:
# Membuat visualisasi boxplot Age dengan Attrition Flag sebagai pemisahnya (color)
sns.boxplot(data=df, x="Customer_Age", y="Attrition_Flag", hue="Attrition_Flag", color="blue" )

In [ ]:
# Membuat visualisasi countplot Attrition Flag dengan jenis kelamin sebagai pemisahnya (color)
sns.countplot(data=df, x="Attrition_Flag", hue="Gender", color="blue" )

In [ ]:
# Membuat visualisasi heatmap untuk Setiap variabel numerik yang ada
sns.heatmap(df5.corr(),  cmap ="Blues_r", linecolor ="white", lw=2 )

## Algoritma Naive Bayes dan Preprocessing (pengenalan)

### Membuat Dataset Baru

In [ ]:
# Membuat dataset baru dengan menghapus kolom yang berupa primary key dan bukan tipe kategori
df = pd.read_csv("ChurnBank.csv")
df
df_baru = df.drop(columns = ["Unnamed: 0", "CLIENTNUM", "Customer_Age", "Credit_Limit"])

In [ ]:
# Memanggil data frame baru
df_baru

### Fungsi Naive Bayes

In [ ]:
def Naive_Bayes(Prediksi:list)-> tuple :
    attrited = df_baru[df_baru["Attrition_Flag"]=="Attrited Customer"]
    existing = df_baru[df_baru["Attrition_Flag"]=="Existing Customer"]

    attrited_prior = len(attrited) / len(df_baru)
    existing_prior = len(existing) / len(df_baru)

    for i in range(len(Prediksi)):
        attrited_subset = attrited[attrited.iloc[:,i]==Prediksi[i]]
        existing_subset = existing[existing.iloc[:,i]==Prediksi[i]]
        
        attrited_posterior = (len(attrited_subset) + 1) / (len(attrited) + len(df_baru.iloc[:,i].unique()))
        existing_posterior = (len(existing_subset) + 1) / (len(existing) + len(df_baru.iloc[:,i].unique()))
        
        if i == 0:
            attrited_likelihood = attrited_posterior
            existing_likelihood = existing_posterior
        else:
            attrited_likelihood *= attrited_posterior
            existing_likelihood *= existing_posterior
 
    attrited_posterior = attrited_prior * attrited_likelihood
    existing_posterior = existing_prior * existing_likelihood
  
    Persentasenya = existing_posterior / (attrited_posterior + existing_posterior)
    Hasil = "Existing Customer" if Persentasenya >= 0.5 else "Attrited Customer"
    
    return (Hasil, Persentasenya)

In [ ]:
Hasil = Naive_Bayes(["F", "Uneducated", "Single", "Unknown", "Blue"])
print (Hasil)